.container {
    display: flex;
    flex-direction: column;

}
.input {
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    margin: 10px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.searchButton{
    background-color: rgb(0, 0, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 45px;
    width: 75px;
    border-radius: 10px;
    padding: 8px 0px;
    justify-content: center;
    align-self: center;
    margin-right: 15px;
    color: white;
    cursor: pointer;
    


}